menuconfig VIDEO_MXC
	tristate "Support video post-processing hardware on i.MX"
	depends on ARCH_MXC
	select VIDEO_DEV

config VIDEO_MXC_OUTPUT
	tristate "MXC Video For Linux Video Output"
	depends on VIDEO_MXC
	---help---
	  This is the video4linux2 output driver based on MXC IPU/eMMA module.

if VIDEO_MXC_OUTPUT

source "drivers/staging/mxc-v4l/output/Kconfig"

endif

