config FB_MXC_IPU_V3
	tristate "Freescale i.MX IPU framebuffer driver"
	depends on ARCH_MX3 || ARCH_MX5
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select MXC_IPU
	help
	  This is a framebuffer driver for the i.MX37 and i.MX51 Image Processing Unit (IPU).

config FB_MXC_DEBUG
       bool	"Enable Debugging"
       depends on FB_MXC_IPU_V3

config MXC_IPU
	bool
	depends on !MACH_MX21
	depends on !MACH_MX27
	depends on !ARCH_MX25
	select MXC_IPU_V1 if !ARCH_MX37 && !ARCH_MX51
	select MXC_IPU_V3 if ARCH_MX37 || ARCH_MX51
	select MXC_IPU_V3D if ARCH_MX37
	select MXC_IPU_V3EX if ARCH_MX51

config MXC_IPU_V3
	bool

config MXC_IPU_V3D
	bool

config MXC_IPU_V3EX
	bool
